.btn {
    border-radius: 15px;
    font-family: Helvetica;
    font-size: 14px;
    border: none;
    padding: 5px 15px;
    &_gray {
        background: #EAEAEA;
        color: #131313;
        margin-right: 15px;
    }
    &_yellow {
        padding-left: 36px;
        display: flex;
        position: relative;
        align-items: center;
        background: #FFF8DD;
        color: #FFC200;
        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            left: 15px;
            background: url('../icons/chat_btn.svg') center center / 100% 100% no-repeat;
        }
    }
}