.menu {
    padding: 31px 20px 35px 30px;
    &__items {
        list-style-type: none;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }
    &__link {
        font-size: 14px;
        color: #FFFFFF;
        line-height: 22px;
        transition: all 0.5s;
        margin-right: 9px;
        &:hover {
            color: #878787;
            text-decoration: none;
        }
    }
    &__amount {
        display: flex;
        justify-content: center;
        font-size: 13px;
        color: #131313;
        background: #FFC200;
        width: 20px;
        height: 20px;
        border-radius: 100%;
    }
}